* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

button {
    cursor: pointer;
}

/* Header Styles */
.header {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.banner-content {
    padding: 180px 50px 30px 150px;
    width: 380px;
    margin-left: 680px;
}

.banner-title {
    font-size: 45px;
    text-align: right;
}

.banner-description {
    text-align: right;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.banner-btn {
    background-color: #f15b22;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-left: 260px;
}

.btn-primary {
    background-color: white;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    color: #f15b22;
    border-radius: 5px;
    text-align: center;
}


/* Failure Previous Styles */
.failures-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 81px 85px;
}

.failures-content {
    width: 350px;
    margin-right: 150px;
    margin-top: 150px;
}

.failures-container img {
    width: 350px;
    align-items: center;
    margin-left: 150px;
}

.failure-title {
    font-size: 32px;
    margin-bottom: 10px;
    color: rgb(21, 20, 20);
    font-family: Work Sans;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}

.failure-description {
    margin-bottom: 10px;
    color: rgb(68, 67, 67);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.contrary li {
    list-style: none;
    color: rgb(68, 67, 67);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.contrary li img {
    width: 18px;
    height: 18px;
    margin: 0;
}

/* Plans Styles */
.plans-section {
    height: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.plans-title {
    text-align: center;
    margin-bottom: 35px;
    font-size: 32px;
    margin-top: 20px;
}

.plans-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.plan-description {
    color: rgb(115, 114, 114);
    font-size: 16px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 10px;
}

.plans-content img {
    height: 55px;
}

.plan-title {
    font-size: 23px;
    font-weight: 900;
    margin-bottom: 5px;
}


/* Call Styles */
.call-section {
    height: 75%;
    padding: 0px 100px 85px 100px;
}

.call-content {
    width: 75%;
    margin: 0 auto;
    background-image: url('../images/gradient3.png'), url('../images/watch.png');
    padding: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.call-title {
    color: white;
    font-size: 32px;
}

.call-content button {
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: 600;
}

/* Footer Styles */
.footer {
    background: rgb(21, 20, 20);
    color: white;
    padding: 80px 220px;
}

.footer-container {
    display: flex;
    justify-content: space-between;

}

.footer-title {
    margin-bottom: 10px;
}

.footer-content {
    width: 500px;
}

.footer-content p {
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

.footer-content .email,
.footer-content .phone {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

.footer-icons {
    display: flex;
    gap: 10px;
}

.footer-icons img {
    width: 35px;
    height: 35px;
    margin-top: 15px;
}

.footer-subscriber {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-subscriber input {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.footer-subscriber button {
    width: 130px;
}

.footer-icons img {
    cursor: pointer;
}


